<html>
<head>
  <title>Checkin Application</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Events</h3>
	  </div>
	  <div class="panel-body">
	    
    <ul class="list-group">
    {% for event in events %}
      <li class="list-group-item">
        <a href="/event/{{ event.key().id() }}">{{ event }}</a>
      </li>
    {% endfor %}
    </ul>
    <form action="/event/new" method="POST">
    Event Name: <input type="text" name="name"> <input type="submit" name="submit">
    </form>
	  </div>
	</div>
    
  </body>
</html>